@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-x: hidden;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid theme('colors.gray.400');
  border-radius: theme('borderRadius.md');
  outline: none;
  transition: all 0.15s ease-in-out;
}

input[type="radio"] {
  border-radius: theme('borderRadius.full'); 
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background-color: theme('colors.primary-blue');
  border-color: theme('colors.primary-blue');
}

input[type="radio"]:checked:focus,
input[type="checkbox"]:checked:focus {
  box-shadow: 0 0 0 3px rgba(theme('colors.primary-blue.500'), 0.5); /* Thêm đổ bóng khi focus */
}